@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trang chủ</title>
    @Styles.Render("~/Content/Home.")
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; 2024 - Website Đặt Phòng</p>
    </footer>
</body>
</html>
